body{
    font-family: poppins;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.container{
    width: 100%;
    margin: auto;
}

/* Header Menu */

header{
    
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    background: #272727;
    transition: all 0.5s;
    letter-spacing: .1rem;
    display: flex;
    flex-wrap: wrap;
}

.header1 {
    margin: auto;
    max-width: 1440px;
    height: 80px;
    padding-top: 40px;
}

.header-links {
    display: none;
}

.header-links.show {
    background-color: #F8EA01;
    margin: auto;
    text-align: center;
    height: 56px;
    padding-top: 3px;
    display: block;
}

.logo {
    float: left;
    margin: 0; 
    width: 282px;
    margin: 0px;
}

nav ul li{
    display: inline;
    padding: 0 20px 0 50px;
}

header a {
    color: #000000;
    text-decoration: none;  
}

.hamburger {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

.hamburger.hide {
    display: none;
}

.close-icon {
display: none;
}

.close-icon.show {
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
}

/* Hero Section */

.hero {
    background-color: #F5F5F5;
    height: 320px;
}

.hero .container {
    width: 1440px;
    margin: auto;
    padding-top: 20px;
}

.hero h1 {
    font-family: source sans pro;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    width: 50%;
}

.hero p {
    line-height: 24px;
    width: 50%;
}

/* Latest News Section */

.latest-news .container {
    width: 1440px;
    margin-top: 150px;
    margin-bottom: 150px;

}

.latest-news h2 {
    font-family: source sans pro;
    font-size: 40px;
    font-weight: 700;
}

.latest-news h3 {
    font-family: source sans pro;
    font-size: 30px;
    font-weight: 700;
}

.latest-news p {
    margin-bottom: 80px;
}

.latest-news img {
    width: 100%;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    position: relative;
}

.latest-news a {
    padding: 8px 80px;
    background-color: #FF63B1;
    text-decoration: none;
    color: #000000;
    position: absolute;
    bottom: 0;
}

/* Form Section */

.form-section {
    background-color: #F5F5F5;
    height: 320px;
    padding-top: 150px;
}

.form-section .container {
    width: 560px;
    margin: auto;
    text-align: center;
}

.form-section p {
    text-align: left;
}

form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    font-family: poppins;
    font-size: 16px;
}

input {
    width: 380px;
    height: 43px;
    font-family: poppins;
    font-size: 16px;
    padding-left: 10px;
}

form button {
    width: 180px;
    height: 48px;
    font-family: poppins;
    font-size: 16px;
    background-color: #F8EA01;
    border: none;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #272727;
    color: #FFFFFF;
    padding: 20px 0px;
    text-align: center;
}